<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>Add a button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = 'tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simple an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
        <hr>
        <button class="btn btn-primary" (click)="toggleDisplay()">Display Details</button>
        <hr>
        <p *ngIf="isDisplayed; else hiddenMsg">Your Secret Password = 'Kratos'</p>
        
        <ng-template #hiddenMsg>
          <p>
              Your details are hidden
          </p>
        </ng-template>
      </ul>
      <p 
        *ngFor="let clk of countStore; let i = index"
        [ngStyle]="{backgroundColor: i > 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i > 4}"
      >{{ clk }}</p>
      <!-- <app-countdisplay *ngFor="let clk of countStore"></app-countdisplay> -->
    </div>
  </div>
</div>