<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>DataBinding Assignment</h3>
      <ul>
        <li>Add an input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String interpolation (on a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button the username should be reset to an empty string</li>

        <hr>
        Enter username here:<input type="text" [(ngModel)]="username" (input)="onUpdateButtonEnabled($event)">
        <p>{{ username }}</p>
        <button class="btn btn-primary" 
        [disabled]="isDisabled" (click)="onClickResetUsername($event)">Save Username</button>
        <!-- Second way in which the same can be achieved -->
        <!-- <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="username = ''">Reset User</button> -->
      </ul>
    </div>
  </div>
</div>