
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <!-- element selector for component. This is the default selector -->
            <app-servers></app-servers>

            <!-- attribute selector for same component-->
            <!-- <div app-servers></div> -->

            <!-- class selector for the same component -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>    
</div>